<div class="usuarios-container">
  <ng-container *ngIf="listaUsuarios$ | async as usuarios; else cargandoTemplate">
    
    <table class="tabla-usuarios" *ngIf="usuarios.length > 0">
      <thead>
        <tr>
          <th>ID</th>
          <th>Usuario</th>
          <th>Correo</th>
          <th>Intentos fallidos</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{ usuario.id }}</td>
          <td>{{ usuario.usuarioNombre }}</td>
          <td>{{ usuario.correoElectronico }}</td>
          <td>{{ usuario.intentosFallidos }}</td>
          <td>{{ usuario.activo? "✅":"❌" }}</td>
          <td><button>Desbloquear</button></td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="usuarios.length === 0">
      No hay usuarios registrados.
    </div>

  </ng-container>

  <ng-template #cargandoTemplate>
    <div *ngIf="!error">Cargando usuarios desde el servidor...</div>
    <div *ngIf="error" style="color: red;">{{ error }}</div>
  </ng-template>
</div>