<div class="contenedor">
    <div class="VTN_SLT">
        <h2>Restablecer contraseña</h2>
        <p>Ingrese su correo electrónico para recibir el enlace de recuperación.</p>        
        <form [formGroup]="solicitudForm" (ngSubmit)="solicitar()">
            <div class="input-group">
                <input type="email" placeholder="Correo electrónico" formControlName="correo"/>
            </div>
            
            @if (solicitudForm.get('correo')?.invalid && submitted) {
                <small class="texto-error">
                    {{ getEmailErrorMessage() }}
                </small>
            }

            <button type="submit">Solicitar enlace</button>
        </form>

        @if (mostrarModal) {
            <div class="fondo_mensaje">
                <div class="mensaje">
                    <p>{{mensaje}}</p>
                    @if (modalExito) {
                        <button #btnModal (click)="irLogin()">
                            Ir al login
                        </button>
                    }@else {
                        <button #btnModal (click)="cerrarModal()">OK</button>
                    }
                </div>
            </div>
        }
    </div>
</div>  
