.contenedor {
  width: 100%;
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: first baseline;
  background-color: #bebebe; 
}

.VTN_SLT {
    margin-top: 16px;
    background: white;
    padding: 1.24rem;
    width: 420px;
    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.41);
    text-align: center;
}

.VTN_SLT h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #000000;
}

.VTN_SLT p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 20px;
}

.input-group {
  width: 100%;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: 0.3s;
  display: block; 
}

.input-group input:focus {
  outline: none;
  border-color: #2a5298;
  box-shadow: 0 0 5px rgba(42, 82, 152, 0.3);
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  background-color: #2a5298;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  display: block;
}

button:hover {
  background-color: #1e3c72;
}

.fondo_mensaje {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.303);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mensaje{
  color: #1e3c72;
  background-color: #ccc;
  width: 30%;
  height: 10%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}